.gsd-keyboard.settings-ported
lazygit/
QtProject.conf
cava/
dconf/
evolution/
google-chrome/
gtk-3.0/
gtk-4.0/
htop/
ibus/
libreoffice/
mimeapps.list
mozilla/
nwg-look/
pulse/
qt5ct/
qt6ct/
silvana_config.zip
simple-scan/
telegram-desktop/
user-dirs.dirs
user-dirs.locale
xsettingsd/
kitty/current-theme.conf
kitty/themes/noctalia.conf
niri/noctalia.kdl
noctalia/colors.json
noctalia/settings.json
