/.gsd-keyboard.settings-ported
/QtProject.conf
/cava/
/dconf/
/evolution/
/go/
/google-chrome/
/gtk-3.0/
/gtk-4.0/
/htop/
/ibus/
/inkscape/
/kitty/current-theme.conf
/kitty/themes/noctalia.conf
/lazygit/
/libreoffice/
/mimeapps.list
/mozilla/
/niri/noctalia.kdl
/noctalia/colors.json
/noctalia/plugins.json
/noctalia/plugins/
/noctalia/settings.json
/nwg-look/
/pulse/
/qt5ct/
/qt6ct/
/silvana_config.zip
/simple-scan/
/telegram-desktop/
/user-dirs.dirs
/user-dirs.locale
/xsettingsd/
