# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 1, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "size_and_mtime"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = "~/.cache/yazi/"
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
Abrir = [
	{ run = "xdg-open %s1", desc = "Abrir", for = "linux", orphan = true },
]
Descargar = [
	{ run = "ya emit download --open %S", desc = "Descargar y abrir" },
	{ run = "ya emit download %S",        desc = "Descargar" },
]
Editar = [
	{ run = "helix %s", desc = "Editar (Helix)", for = "linux", block = true },
	{ run = "nano %s",  desc = "Editar (Nano)",  for = "linux", block = true },
]
Extraer = [
	{ run = "ya pub extract --list %s", desc = "Extraer aquí" },
]
Explorador = [
	{ run = 'nautilus %d', desc = "Explorador", orphan = true, for = "linux" },
]
Imagen = [
  { run = 'loupe %s',    orphan = true, desc = "Ver imagen",    for = "linux" },
  { run = 'gimp %s',     orphan = true, desc = "Editar (GIMP)",     for = "linux" },
  { run = 'inkscape %s', orphan = true, desc = "Editar (Inkscape)", for = "linux" },
]
LibreOffice = [
	{ run = 'libreoffice %s', orphan = true, desc = "Abrir con LibreOffice", for = "linux" },
]
PDF = [
	{ run = 'papers %s', orphan = true, desc = "Ver PDF", for = "linux" },
]
Reproducir = [
	{ run = "xdg-open %s1", desc = "Reproducir", for = "linux", orphan = true },
	{ run = "mediainfo %s1; echo 'Presionar Enter para salir'; read _", block = true, desc = "Info Multimedia", for = "linux" },
]
Revelar = [
	{ run = "xdg-open %d1", desc = "Revelar en directorio", for = "linux" },
	{ run = "clear; exiftool %s1; echo 'Presionar Enter para salir'; read _", desc = "Metadatos (EXIF)", for = "linux", block = true },
]

[open]
rules = [
	# Folder
	{ url = "*/", use = [ "Explorador", "Revelar" ] },
	# Text
	{ mime = "text/*", use = [ "Editar", "Explorador", "Revelar" ] },
	# Image
	{ mime = "image/*", use = [ "Imagen", "Explorador", "Revelar" ] },
	# Media
	{ mime = "{audio,video}/*", use = [ "Reproducir", "Explorador", "Revelar" ] },
	# PDF
	{ mime = "application/pdf", use = [ "PDF", "Explorador", "Revelar"  ] },
		# LibreOffice
  { name = "*.{odt,ott,fodt,ods,ots,fods,odp,otp,fodp,odg,otg,fodg,odf,odb}", use = [ "LibreOffice", "Explorador" ] },
  { name = "*.{doc,docx,dot,dotx,docm,dotm,rtf,xls,xlsx,xlw,xlt,xlsm,xltx,xltm,xlsb,ppt,pptx,pps,ppsx,pot,potx,pptm,potm}", use = [ "LibreOffice", "Abrir", "Explorador", "Revelar" ] },
  { name = "*.{csv,txt,wk1,wks,123,dif,dbf,slk,wb2,numbers,htm,html,xml,sxw,sxc,sxi,sxd,sdc,vor,uos,uof}", use = [ "LibreOffice", "Explorador", "Revelar" ] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "Extraer", "Explorador", "Revelar" ] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [ "Editar", "Explorador", "Revelar" ] },
	{ mime = "*/javascript", use = [ "Editar", "Explorador", "Revelar" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "Editar", "Abrir", "Explorador", "Revelar" ] },
	# Virtual file system
	{ mime = "vfs/{absent,stale}", use = ["Descargar", "Explorador" ] },
	# Fallback
	{ url = "*", use = [ "Abrir", "Explorador", "Revelar" ] },
]

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 134217728  # 128MB
image_bound      = [ 5000, 5000 ]
suppress_preload = false

[plugin]
fetchers = [
	# Mimetype
	{ id = "mime", url = "*/",         run = "mime.dir", prio = "high" },
	{ id = "mime", url = "local://*",  run = "mime.local", prio = "high" },
	{ id = "mime", url = "remote://*", run = "mime.remote", prio = "high" },
]
spotters = [
	{ url = "*/", run = "folder" },
	# Code
	{ mime = "text/*", run = "code" },
	{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# Virtual file system
	{ mime = "vfs/*", run = "vfs" },
	# Error
	{ mime = "null/*", run = "null" },
	# Fallback
	{ url = "*", run = "file" },
]
preloaders = [
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# PDF
	{ mime = "application/pdf", run = "pdf" },
	# Font
	{ mime = "font/*", run = "font" },
	{ mime = "application/ms-opentype", run = "font" },
]
previewers = [
	{ url = "*/", run = "folder" },
	# Code
	{ mime = "text/*", run = "code" },
	{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
	# JSON
	{ mime = "application/{json,ndjson}", run = "json" },
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# PDF
	{ mime = "application/pdf", run = "pdf" },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", run = "archive" },
	{ mime = "application/{debian*-package,redhat-package-manager,rpm,android.package-archive}", run = "archive" },
	{ url = "*.{AppImage,appimage}", run = "archive" },
	# Virtual Disk / Disk Image
	{ mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
	{ mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
	{ url = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },
	# Font
	{ mime = "font/*", run = "font" },
	{ mime = "application/ms-opentype", run = "font" },
	# Empty file
	{ mime = "inode/empty", run = "empty" },
	# Virtual file system
	{ mime = "vfs/*", run = "vfs" },
	# Error
	{ mime = "null/*", run = "null" },
	# Fallback
	{ url = "*", run = "file" },
]
prepend_preloaders = [
    # Office Documents
    { mime = "application/openxmlformats-officedocument.*", run = "office" },
    { mime = "application/oasis.opendocument.*", run = "office" },
    { mime = "application/ms-*", run = "office" },
    { mime = "application/msword", run = "office" },
    { name = "*.docx", run = "office" },
]
prepend_previewers = [
    # Office Documents
    { mime = "application/openxmlformats-officedocument.*", run = "office" },
    { mime = "application/oasis.opendocument.*", run = "office" },
    { mime = "application/ms-*", run = "office" },
    { mime = "application/msword", run = "office" },
    { name = "*.docx", run = "office" },
]

[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"

[input]
cursor_blink = false

# cd
cd_title  = "Cambiar directorio:"
cd_origin = "top-center"
cd_offset = [ 0, 2, 50, 3 ]

# create
create_title  = [ "Crear:", "Crear (directorio):" ]
create_origin = "top-center"
create_offset = [ 0, 2, 50, 3 ]

# rename
rename_title  = "Renombrar:"
rename_origin = "hovered"
rename_offset = [ 0, 1, 50, 3 ]

# filter
filter_title  = "Filtrar:"
filter_origin = "top-center"
filter_offset = [ 0, 2, 50, 3 ]

# find
find_title  = [ "Buscar hacia adelante:", "Buscar hacia atrás:" ]
find_origin = "top-center"
find_offset = [ 0, 2, 50, 3 ]

# search
search_title  = "Buscar via {n}:"
search_origin = "top-center"
search_offset = [ 0, 2, 50, 3 ]

# shell
shell_title  = [ "Shell:", "Shell (block):" ]
shell_origin = "top-center"
shell_offset = [ 0, 2, 50, 3 ]

[confirm]
# trash
trash_title 	= "¿Mover a la papelera {n} archivo{s} selecionados{s}?"
trash_origin	= "center"
trash_offset	= [ 0, 0, 70, 20 ]

# delete
delete_title 	= "¿Borrar permanentemente {n} archivos{s} selecionados{s}?"
delete_origin	= "center"
delete_offset	= [ 0, 0, 70, 20 ]

# overwrite
overwrite_title  = "¿Sobreescribir el archivo?"
overwrite_body   = "Se sobreescribirá el siguiente archivo:"
overwrite_origin = "center"
overwrite_offset = [ 0, 0, 50, 15 ]

# quit
quit_title  = "¿Salir?"
quit_body   = "There are unfinished tasks, quit anyway?\n(Open task manager with default key 'w')"
quit_origin = "center"
quit_offset = [ 0, 0, 50, 15 ]

[pick]
open_title  = "Abrir con:"
open_origin = "hovered"
open_offset = [ 0, 1, 50, 7 ]

[which]
sort_by      	 = "none"
sort_sensitive = false
sort_reverse 	 = false
sort_translit  = false
